<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorldSizeX" value="10000"/>
    <add key="WorldSizeY" value="10000"/>
    <add key="MiniSizeX" value="300"/>
    <add key="MiniSizeX" value="300"/>
    <add key="NumPartitions" value="40"/>
    <add key="NumEntities" value="10000"/>
    <add key="StarsCount" value="200"/>
    <add key="StarsMaxVelocity" value="0.25"/>
    <add key="StarsStandardSize" value="12"/>
    <add key="StarsAverage" value="0.9"/>
    <add key="StarsShooting" value="0.01"/>
    <add key="StarsMinSize" value="4"/>
    <add key="StarsMaxSize" value="24"/>
    <add key="ScaleGravity" value="0.000000001"/>
    <add key="ScaleAcceleration" value="1.0"/>
    <add key="ScaleVelocity" value="1.0"/>
    <add key="VectorMinMagnitude" value="0.00000001"/>
    <add key="VectorMaxLength" value="64"/>
    <add key="FrequencyUpdate" value="30"/>
    <add key="FrequencyRender" value="30"/>
    <add key="BawlMassSmall" value="1.0E+9"/>
    <add key="BawlMassMedium" value="7.36E+14"/>
    <add key="BawlMassLarge" value="5.9742E+22"/>
    <add key="BawlMassHuge" value="1.98892E+30"/>
    <add key="BawlMaxAcceleration" value="0.01"/>
    <add key="BawlMaxVelocity" value="0.5"/>
    <add key="HumanMaxVelocity" value="1"/>
    <add key="HumanMaxAcceleration" value="0.002"/>
    <add key="HudSpaceX" value="10"/>
    <add key="HudSpaceY" value="100"/>
    <add key="ShowAcceleration" value="false"/>
    <add key="ShowVelocity" value="false"/>
    <add key="ShowHeading" value="false"/>
  </appSettings>
</configuration>